@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
body{
    color: #333;
    line-height: 1;
    font-family: 'Noto Sans KR';
}


/* .cont03 웹사이트 */
.cont03{
    width: calc(100% - 300px);
    margin: 0 auto;
}
.cont03 .title{
    margin: 50px auto;
    text-align: center;
}
.cont03 .title h3{
    font-size: 60px;
    margin-bottom: 10px;
}
.cont03 .title p{
    font-size: 20px;
}

.cont03 .list{
    height: 70vh;
    display: flex;
    justify-content: space-between;
}
.cont03 .list .item{
    border: 1px solid #aaa;
    width: 48%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.cont03 .list .item::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition-duration: 0.5s;
}
.cont03 .list .item:hover::before{
    transition-duration: 0.5s;
    bottom: 0;
}
.cont03 .list .item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cont03 .list .item .info{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250);
    padding: 50px;
    word-break: keep-all;
    transition-duration: 0.5s;
}
.cont03 .list .item:hover .info{
    background-color: transparent;
    color: #fff;
}
.cont03 .list .item:hover .info a{
    color: #333;
}
.cont03 .list .item .info h4{
    font-size: 30px;
}
.cont03 .list .item .info p{
    margin: 7px 0 20px;
    line-height: 1.4;
}
.cont03 .list .item .info .text li{
    margin: 5px 0;
}
.cont03 .list .item .info .btn{
    display: flex;
    margin-top: 40px;
}
.cont03 .list .item .info .btn li{
    margin-right: 10px;
    border-radius: 40px;
    background-color: #eee;
}
.cont03 .list .item .info .btn li a{
    font-size: 14px;
    padding: 0 40px;
    display: block;
    height: 45px;
    line-height: 45px;
}