@charset "utf-8";
/* 노토산스 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* 나눔스퀘어 */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
li{
    list-style: none;
}
body{
    margin: 0 auto;
    line-height: 1;
    height: 100%;
    background-image: url('background_lacoste01.png');
    background-attachment: fixed;
    font-family: 'Noto Sans KR';
}


/* header */
header{
    width: 100%;
    height: 100px;
    background-color: #fff;
    top: 0;
    left: 0;
    border-bottom: 1px solid #eee;
}
header .top_menu nav{
    width: 1440px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .top_menu nav .main_logo a img{
    width: 300px;
    height: 45px;
}
header .top_menu nav .search{
    background-color: #ccc;
    height: 45px;
    width: 708px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    border-radius: 40px;
    position: relative;
}
header .top_menu nav .search input[type="text"]{
    background-color: #ccc;
    height: 100%;
    width: 708px;
    border: 0;
    border-radius: 40px;
    text-align: right;
    padding: 0 30px;
    outline: none;
    font-size: 20px
}
header .top_menu nav .search img{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}
header .top_menu nav .icon{
    display: flex;
}
header .top_menu nav .icon a img{
    height: 35px;
    margin-left: 40px;
}
header .top_menu nav .icon ul .depth01{
    position: relative;
}
header .top_menu nav .icon ul .depth01 .depth02{
    display: none;
    font-weight: 500;
}
header .top_menu nav .icon ul .depth01:hover .depth02{
    display: block;
    position: absolute;
    background-color: #fff;
    z-index: 9;
    padding: 20px;
    left: 100%;
    transform: translateX(-60%);
    line-height: 2;
    text-align: center;
    width: 110px;
    border-bottom:4px solid #aaa;
}
header .top_menu nav .icon ul .depth01 .depth02 ul li:hover a{
    color: #105a33;
    text-decoration: underline;
}
header .bottom_menu{
    width: 1405px;
    height: 30px;
    display: block;
    margin: 0 auto;
}
header .bottom_menu nav ul{
    display: flex;
    justify-content: space-between;
}
header .bottom_menu nav ul .depth01 > a{
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    padding: 0 45px;

}
header .bottom_menu nav ul .depth01:hover > a{
    color: #005a31;
}
header .bottom_menu nav ul .depth01 a{
    position: relative;
    padding-bottom: 30px;
}
header .bottom_menu nav ul .depth01 a > p{
    position: absolute;
    font-size: 20px;
    padding-bottom: 30px;
    top: -100%;
    left: 100%;
    transform: translateY(95%) translateX(-400%);
}
header .bottom_menu nav ul .depth01 .depth02{
    position: absolute;
    padding: 30px 200px;
    background-color: #fff;
    display: none;
    line-height: 2;
}
header .bottom_menu nav ul .depth01 .depth02 > ul{
    width: 1000px;
    margin-left: 100px;
}
header .bottom_menu nav ul .depth01 .depth02 ul li a{
    font-weight: 500;
    padding: 15px 100px 30px 0;
}
header .bottom_menu nav ul .depth01 .depth02 ul li:hover a{
    color: #005a31;
    text-decoration: underline;
}
header .bottom_menu nav ul .depth01 .depth02 ul li a img{
    width: 373px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-right: 100px;
    align-items: center;
}
header .bottom_menu nav ul .depth01 .depth02 ul li a p{
    font-size: 20px;
    font-weight: bold;
}
header .bottom_menu nav ul .depth01 .depth02 ul li a h5{
    font-size: 20px;
}
header .bottom_menu nav ul .depth01:hover .depth02{
    display: block;
    width: 100%;
    top: 100px;
    left: 0;
    z-index: 9;
    border-bottom: 1px solid #eee;
}
header .bottom_menu nav ul .depth01:nth-of-type(9):hover .depth02{
    background-color: #333;
    padding: 50px auto;
} 
header .bottom_menu nav ul .depth01:nth-of-type(9):hover .depth02 h5{
    color: #ffffff;
    word-break: keep-all;
}
header .bottom_menu nav ul .depth01:nth-of-type(9) .depth02 ul li a:hover h5{
    text-decoration: underline;
}

/* main_visual */
.main_visual{
    width: calc(100% - 100px);
    height: 80vh;
    margin: 0 auto;
}
.main_visual video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* \\\\\\\\main_visual end//////// */




/* cont01 */
.cont01{
    width: calc(100% - 346px);
    margin: 0 auto 180px;
}
.cont01 .box{
    display: flex;
    justify-content: space-between;
    margin-top: 260px;
}
.cont01 .box a img{
    width: 770px;
    height: 627px;
    box-shadow: 0 0 5px #333;
    border-radius: 10px;
    transition-duration: 0.5s;
}
.cont01 .box a:hover > img{
    box-shadow: 0 0 15px #333;
    position: relative;
    transition-duration: 0.5s;
}
.cont01 .list{
    width: 1490px;
    margin: 50px auto 0;
    position: relative;
}
.cont01 .list h3{
    font-size: 50px;
    font-weight: 700;
    text-align: right;
}
.cont01 .list .item{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.cont01 .list .item div{
    text-align: center;
    width: 130px;
    height: 153px;
}
.cont01 .list .item div a img{
    transition-duration: 0.2s;
}
.cont01 .list .item div a:hover img{
    box-shadow: 0 0 15px #005a31;
    transition-duration: 0.2s;
}
.cont01 .list .item div a p{
    padding: 5px 0;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}
.cont01 .list .item a img{
    border: 4px solid #005a31;
    border-radius: 50%;
    display: block;
}

/* \\\\\\cont01 end//////// */




/* cont02 */
.cont02{
    height: 1100px;
    padding-top: 100px;
    margin: 0 auto;
    background: rgb(253,189,3);
    background: linear-gradient(159deg, rgba(253,189,3,1) 0%, rgba(92,198,46,1) 50%, rgba(253,189,3,1) 100%);
    background-size: 850px 1110px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.cont02 .title {
    width: 1420px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 800;
    font-family: 'NanumSquare';
    letter-spacing: -4px;
}
.cont02 .content{
    margin: 0 auto;
    width: 1420px;
    display: flex;
    justify-content: space-between;
}
.cont02 .left_box img{
    width: 814px;
    height: 537px;
    display: block;
    margin-top: 20px;
    box-shadow: 0 0 15px #333;
    border-radius: 0 70px 0 15px;
}
.cont02 .left_box .button{
    margin-bottom: 20px;
}
.cont02 .left_box .button ul{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    height: 43px;
}
.cont02 .left_box .button ul li{
    margin-right:30px;
    line-height: 43px;
    border-radius: 40px;
    background-color: #eee;
}
.cont02 .left_box .button ul li:nth-of-type(3){
    background-color: #105a33;
}
.cont02 .left_box .button ul li a{
    padding: 12px 20px;
    text-align: center;
}
.cont02 .left_box .button ul li:hover a {
    text-shadow: 0 2px 3px #005a3285;
}
.cont02 .left_box .button ul li:nth-of-type(3) a{
    color: white;
}
.cont02 .text div strong{
    font-size: 15px;
    color: #fff;
    margin-left: 20px;
}
.cont02 .text div dl dt h3{
    font-size: 30px;
    margin: 10px 0 20px 18px;
    line-height: 1.2;
}
.cont02 .text div p{
    font-size: 20px;
    margin-left: 20px;
}
.cont02 .left_box .text h3{
    color: #fff;
}
.cont02 .left_box .text div{
    position: relative;
}
.cont02 .left_box .text ul li{
    position: absolute;
    bottom: 20px;
    right: -10px;

}
.cont02 .left_box .text ul li a{
    line-height: 52px;
    padding: 15px 46px;
    box-shadow: 0 0 5px #aaa;
    background-color: #eee;
    border-radius: 40px;
    transition-duration: 0.2s;
    margin-right: 40px;
}
.cont02 .left_box .text ul li:hover a{
    background-color: #105a33;
    color: #fff;
}
.cont02 .right_box{
    width: 490px;
}
.cont02 .right_box img{
    width: 100%;
    height: 506px;
    box-shadow: 0 0 15px #333;
    border-radius: 70px 0 15px 0;
}
.cont02 .right_box .text{
    width: 100%;
    text-align: right;
}
.cont02 .right_box .text div h3{
    width: 90%;
    font-size: 30px;
    margin: 30px auto 20px;
}
.cont02 .right_box .text div p{
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
}
.cont02 .right_box .text div ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.cont02 .right_box .text div ul li{
    text-align: center;
    line-height: 52px;
}
.cont02 .right_box .text div ul li a{
    padding: 15px 46px;
    width: 200px;
    height: 52px;
    box-shadow: 0 0 5px #aaa;
    background-color: #eee;
    border-radius: 40px;
}
.cont02 .right_box .text div ul li:hover a{
    background-color: #105a33;
    color: white;
    transition-duration: 0.2s;
}

/* \\\\\\cont02 end//////// */


/* footer */
footer{
    padding-top: 75px;
    background-color: #eee;
}
footer .top{
    border-bottom: 1px solid #aaa;
    display: flex;
    height: 300px;
}
footer .top .kakao{
    width: 463px;
    margin-left: 77px;
    word-break: keep-all;
}
footer .top .kakao .icon{
    display: flex;
}
footer .top .kakao img{
    width: 42px;
    height: 39px;
}
footer .top .kakao .icon strong{
    font-size: 16px;
    line-height: 39px;
}
footer .top .friend{
    margin-top: 17px;
}
footer .top .friend strong{
    font-size: 13px;
    font-weight: 400;
}
footer .top .friend p{
    width: 124px;
    margin: 20px 0;
    font-size: 15px;
}
footer .top .friend p a{
    padding: 16px 34px;
    display: block;
    width: 124px;
    word-break: keep-all;
    border-radius: 40px;
}
footer .top .friend p:nth-of-type(1) a{
    text-align: center;
    color: #fff;
    background-color: #105a33;
    box-shadow: 0 0 4px #aaa;
}
footer .top .friend p:nth-of-type(2) a{
    width: 463px;
    text-align: center;
    color: #333;
    background-color: #eee;
    box-shadow: 0 0 4px #aaa;
}
footer .top .friend p:nth-of-type(1):hover a{
    background-color: #eee;
    transition-duration: 0.3s;
    color: #333;
    box-shadow: 0 0 4px #aaa;
}
footer .top .friend p:nth-of-type(2):hover a{
    background-color: #105a33;
    transition-duration: 0.3s;
    color: #fff;
}
footer .top .friend h6{
    margin: 20px 0;
}
footer .top .about{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}
footer .top .about .list{
    width: 33%;
}
footer .top .about .list h4{
    margin-bottom: 30px;
    font-size: 10px;
    font-weight: 500;
}
footer .top .about .list:nth-of-type(1) h4{
    font-weight: 900;
}
footer .top .about .list p{
    margin-bottom: 20px;
    font-size: 12px;
    word-break: keep-all;
}
footer .top .about .list ul li{
    margin-bottom: 20px;
    font-size: 12px;
}
footer .top .about .list ul li:hover a{
    text-decoration: underline;
}
footer .top .about .list:nth-of-type(3) ul:nth-of-type(2) li:nth-of-type(2) a{
    font-weight: 900;
    font-size: 8px;
}
footer .bottom{
    height: 110px;
    font-size: 10px;
    line-height: 1.5;
    opacity: 70%;
}
footer .bottom ul{
    width: 1684px;
    display: flex;
    margin-left: 77px;
}
footer .bottom ul li{
    width: 50%;
    margin-top: 35px;
}
